<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=4764WkaOq4">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=4764WkaOq4">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=4764WkaOq4">
<link rel="manifest" href="/site.webmanifest?v=4764WkaOq4">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=4764WkaOq4" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=4764WkaOq4">
<meta name="apple-mobile-web-app-title" content="silverweed's dev blog">
<meta name="application-name" content="silverweed's dev blog">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
